# Example configuration file for simplified onchain bot
[stop]
min_balance_lamports = 100_000_000
should_unwrap = true # If set to false, then the bot stops.
unwrap_amount_lamports = 200_000_000

# [[markets_file]]
# enabled=false
# path="markets.toml" # also supports json, but must be a 2d array of market addresses
# update_seconds=0

# [[lookup_tables_file]]
# enabled=false
# path="lookup-tables.txt" # also supports json, but must be 1d array of market addresses
# update_seconds=100

[bot]
# Max compute unit limit per transaction
compute_unit_limit = 358_182
dlmm_bin_range_to_search = 12 # default is 12
no_failure_mode = true # keep always true
# run_after_simulation_profit = false # If true, the bot only sends real transactions after it finds profitable route through simulation. Only works in Non-Jito Mode
merge_mints = true
# log = true

[jito]
process_delay = 1000
uuid=""
enabled = false
block_engine_urls = [
 "https://ny.mainnet.block-engine.jito.wtf/api/v1",
  "https://tokyo.mainnet.block-engine.jito.wtf/api/v1",
  "https://slc.mainnet.block-engine.jito.wtf/api/v1",
  "https://amsterdam.mainnet.block-engine.jito.wtf/api/v1",
  "https://frankfurt.mainnet.block-engine.jito.wtf/api/v1",
  "https://singapore.mainnet.block-engine.jito.wtf/api/v1",
  "https://london.mainnet.block-engine.jito.wtf/api/v1",
]
tip_config = {from = 1111, to = 3333}

[spam]
# Enable spam transactions
enabled = true
process_delay = 350
# max_spam_tx_len_after_simulation_success = 200
# List of RPC URLs to use for sending transactions
sending_rpc_urls = [
  "",
]
# Fixed compute unit price
priority_fee = {from = 111, to = 6633}
# Maximum retries
max_retries = 1

[helius]
enabled = false
process_delay = 150
priority_fee_lamports = {from = 1000, to = 3000}
tip_lamports = {from = 1_000_000, to = 3_000_000} # min 0.0002 Sol tip

[helius_swqos]
enabled = false
process_delay = 150
priority_fee_lamports = {from = 500, to = 1000}
tip_lamports = {from = 100_000, to = 200_000} # min 0.000005 Sol tip

[temporal]
enabled = false
uuid="" # necessary api key
process_delay = 150
priority_fee_lamports = {from = 500, to = 1000}
tip_lamports = {from = 10_000_000, to = 50_000_000} # min 0.001 Sol tip

[auto]
enabled = true
refresh_interval_in_secs = 10
force_two_mints = true
[auto.filters]
limit = 2
min_tx_len = 10
min_pool_wsol_liquidity = 5
max_pool_wsol_liquidity = 76000
duration = 50
min_profit = 100000000
min_profit_per_arb = 1000000
min_roi = 1.0
ignore_offchain_bots = true

[flashloan]
enabled = true

[rpc]
# RPC URL for the Solana network
url = ""

[wallet]
# Private key (can be path or environment variable)
private_key = ""
